In [1]:
# Install and load the necessary libraries
if (!requireNamespace("readr", quietly = TRUE)) {
  install.packages("readr")
}

# Replace 'path/to/census+income.zip' with the actual path to your local zip file
zip_file_path <- "census+income.zip"

# Replace 'path/to/extracted/files' with the desired directory to extract files
extracted_dir <- "data/"

# Unzip the file
unzip(zip_file_path, exdir = extracted_dir)

# Read the adult.data file into a dataframe
library(readr)
adult_data_path <- file.path(extracted_dir, "adult.data")
adult_df <- read.table(adult_data_path, header = FALSE, sep = ",", quote = "\"")

# Display the first few rows of the dataframe
head(adult_df)

  V1 V2                V3     V4         V5 V6
1 39  State-gov         77516  Bachelors 13  Never-married
2 50  Self-emp-not-inc  83311  Bachelors 13  Married-civ-spouse
3 38  Private          215646  HS-grad    9  Divorced
4 53  Private          234721  11th       7  Married-civ-spouse
5 28  Private          338409  Bachelors 13  Married-civ-spouse
6 37  Private          284582  Masters   14  Married-civ-spouse
  V7                 V8             V9     V10     V11  V12 V13 V14
1  Adm-clerical       Not-in-family  White  Male   2174 0   40   United-States
2  Exec-managerial    Husband        White  Male      0 0   13   United-States
3  Handlers-cleaners  Not-in-family  White  Male      0 0   40   United-States
4  Handlers-cleaners  Husband        Black  Male      0 0   40   United-States
5  Prof-specialty     Wife           Black  Female    0 0   40   Cuba
6  Exec-managerial    Wife           White  Female    0 0   40   United-States
  V15
1  <=50K
2  <=50K
3  <=50K
4  <=50K
5  <=50K
6  <=50K