In [1]:
# Install and load the necessary libraries
library(readr)
library(tidyverse)
library(tidymodels)
options(repr.matrix.max.rows = 6)

zip_file_path <- "census+income.zip"

extracted_dir <- "data/"

# Unzip the file
unzip(zip_file_path, exdir = extracted_dir)

# Read the adult.data file into a dataframe
adult_data_path <- file.path(extracted_dir, "adult.data")
adult_df <- read.table(adult_data_path, header = FALSE, sep = ",", quote = "\"")

# Add appropriate column names
colnames(adult_df) <- c('age','working_class','financial_weight','education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hrs_per_week','native_country','income')

# Display the first few rows of the dataframe
head(adult_df)

# Create test and train splits
adult_split = initial_split(adult_df, prop = 0.75, strata = income)
adult_training = training(adult_split)
adult_testing = testing(adult_split)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ purrr     1.0.2
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.5     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

  age working_class     financial_weight education  education_num
1 39   State-gov         77516            Bachelors 13
2 50   Self-emp-not-inc  83311            Bachelors 13
3 38   Private          215646            HS-grad    9
4 53   Private          234721            11th       7
5 28   Private          338409            Bachelors 13
6 37   Private          284582            Masters   14
  marital_status      occupation         relationship   race   sex
1  Never-married       Adm-clerical       Not-in-family  White  Male
2  Married-civ-spouse  Exec-managerial    Husband        White  Male
3  Divorced            Handlers-cleaners  Not-in-family  White  Male
4  Married-civ-spouse  Handlers-cleaners  Husband        Black  Male
5  Married-civ-spouse  Prof-specialty     Wife           Black  Female
6  Married-civ-spouse  Exec-managerial    Wife           White  Female
  capital_gain capital_loss hrs_per_week native_country income
1 2174         0            40            United-States  <=50K
2    0         0            13            United-States  <=50K
3    0         0            40            United-States  <=50K
4    0         0            40            United-States  <=50K
5    0         0            40            Cuba           <=50K
6    0         0            40            United-States  <=50K

      age working_class financial_weight education  education_num
1     39   State-gov     77516            Bachelors 13
2     53   Private      234721            11th       7
3     37   Private      284582            Masters   14
⋮     ⋮   ⋮             ⋮                ⋮          ⋮
24418 53   Private      321865            Masters   14
24419 40   Private      154374            HS-grad    9
24420 52   Self-emp-inc 287927            HS-grad    9
      marital_status      occupation         relationship   race   sex
1      Never-married       Adm-clerical       Not-in-family  White  Male
2      Married-civ-spouse  Handlers-cleaners  Husband        Black  Male
3      Married-civ-spouse  Exec-managerial    Wife           White  Female
⋮     ⋮                   ⋮                  ⋮              ⋮      ⋮
24418  Married-civ-spouse  Exec-managerial    Husband        White  Male
24419  Married-civ-spouse  Machine-op-inspct  Husband        White  Male
24420  Married-civ-spouse  Exec-managerial    Wife           White  Female
      capital_gain capital_loss hrs_per_week native_country income
1     2174         0            40            United-States  <=50K
2        0         0            40            United-States  <=50K
3        0         0            40            United-States  <=50K
⋮     ⋮            ⋮            ⋮            ⋮              ⋮
24418     0        0            40            United-States  >50K
24419     0        0            40            United-States  >50K
24420 15024        0            40            United-States  >50K